[options]
db_host = localhost
db_port = 5432
db_user = odoo
db_password = odoo123
addons_path = custom_addons,addons
db_name = odoo_db
admin_passwd = admin

# SMTP Configuration for email notifications
# Gmail SMTP configuration (tested successfully)
email_from = damvanchau2002@gmail.com
smtp_server = smtp.gmail.com
smtp_port = 465
smtp_ssl = True
smtp_user = damvanchau2002@gmail.com
smtp_password = mlms xbmm ltuj sqab

